<%= link_to "Back to Home", "/"%>

<h3 class="text-center">Build Survey</h3>
<hr />
<div class="form-group col-md-9">
  <h5>First, choose a title and a description for your survey.</h5>
  <%= form_for @survey do |f| %>
    <%= f.label :title, "Survet Title" %>
    <%= f.text_field :title, class: "form-control", placeholder: "eg. The personality test" %>
    <%= f.label :description, "Survey Description" %>
    <%= f.text_area :description, class: "form-control", placeholder: "eg. Discovering what is unique about people." %>
    
    <br />
    <%= f.submit "Create Survey and Begin Adding Questions", class: "btn btn-primary btn-block" %>
  <% end %>
</div>
